{var $robots = noindex}

{block #content}

<h1 class="page-header" n:block="title">Přihlášení</h1>
{*
<p>Přihlaste se jako <i>admin</i> nebo <i>john</i>, heslo je <i>s.v.a.t.</i>.</p>
*}
{control signInForm}
